/* Styles for the board*/

@font-face {
    font-family: myFont;
    src: url('LeagueGothic-Regular.otf') format('opentype');
}

* {
    box-sizing: border-box;
}

body {
    background-color: #293d41;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 5em;
    transition: font-size 1s;
    text-transform: uppercase;
    color: #17f1e7;
    text-shadow: 
    3px  4px     #864AF9, 
   -1px  1px     #864AF9, 
    1px -1px     #dd641d, 
   -1px -1px     #864AF9,
    1px  1px 6px #069bf1f6;
    font-family: myFont;
}

#scoreboard {
    font-family: 'Saira', sans-serif; 
    font-size: 25px;
    letter-spacing: 2px;
    color: #17f1e7;
    text-shadow: 
    3px  4px     #864AF9, 
   -1px  1px     #864AF9, 
    1px -1px     #dd641d, 
   -1px -1px     #864AF9,
    1px  1px 6px #069bf1f6;
    margin-bottom: 20px;
}

#result {
    font-family: myFont;
    font-size: 35px;
    letter-spacing: 3px;
    color: #17f1e7;
    text-shadow: 
    3px  4px     #864AF9, 
   -1px  1px     #864AF9, 
    1px -1px     #dd641d, 
   -1px -1px     #864AF9,
    1px  1px 6px #069bf1f6;
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nextg {
    font-family: myFont;
    font-size: 16px;
    color: #17f1e7;
    border-radius: 10px;
    padding: 0px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    box-shadow:inset 1px 1px 1px 0px rgba(214, 188, 255, 0.623),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    background: #f859d0;
    width: 145px;
    height: 45px;
    border: none;
    margin-bottom: 20px;
    text-shadow: 
    3px  4px     #864AF9, 
   -1px  1px     #864AF9, 
    1px -1px     #dd641d, 
   -1px -1px     #864AF9,
    1px  1px 6px #069bf1f6;
}
    
#nextg:hover,
#nextg:active { 
    background-color: #864AF9;
    color: #F8E559;
    box-shadow: 0 0.6em 0.6em -0.4em #864AF9;
    transform: translateY(-0.55em);
}

#board {
    width: fit-content;
    background-color: #6605568e;
    padding: 8px;
    border-radius: 8px;

    .flex-container {

        .buttons {
            width: 60px;
            height: 60px;
            border-radius: 6px;
            font-family: myFont;
            color: #17f1e7;
            text-shadow: 
            3px  4px     #864AF9, 
           -1px  1px     #864AF9, 
            1px -1px     #dd641d, 
           -1px -1px     #864AF9,
            1px  1px 6px #069bf1f6;
            background-color: #300322;
            margin: 6px;
            text-align: center;
            font-size: 45px;
        }

        .buttons:hover,
        .buttons:focus {
            background-color: #332941;
            transform: scale(1.1);
        }
    }
}

/* Reset Score Design */
#filler {
    width: 20px;
}

#reset_score {
    font-family: myFont;
    text-shadow: 
    3px  4px     #864AF9, 
   -1px  1px     #864AF9, 
    1px -1px     #dd641d, 
   -1px -1px     #864AF9,
    1px  1px 6px #069bf1f6;
    font-size: 16px;
    color: #17f1e7;
    border-radius: 10px;
    padding: 0px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    box-shadow:inset 1px 1px 1px 0px rgba(214, 188, 255, 0.623),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    background: #f859d0;
    width: 145px;
    height: 45px;
    border: none;
    margin-bottom: 20px;
}
    
#reset_score:hover,
#reset_score:active {
    background-color: #864AF9;
    color: #F8E559;
    box-shadow: 0 0.6em 0.6em -0.4em #864AF9;
    transform: translateY(-0.55em);
}

#returnBtn {
    font-family: myFont;
}